<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="worlds/empty.world"/>
        <!-- <arg name="world_name" value="$(find husky_gazebo)/worlds/clearpath_playpen.world"/> -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <group ns="/">
        <!-- husky_control : https://github.com/husky/husky/ -->
        <!-- husky_control/control.launch includes husky_description/description.launch -->
        <include file="$(find husky_control)/launch/control.launch"/>
        <include file="$(find husky_control)/launch/teleop.launch">
            <arg name="joystick" value="true" />
        </include>

        <!-- TODO: Add ENSTA nodes -->

        <!-- Spawn robot in gazebo, -Y is yaw -->
        <node name="spawn_husky_model" pkg="gazebo_ros" type="spawn_model" args="
            -x 0.0
            -y 0.0
            -z 0.0
            -Y 0.0
            -unpause
            -urdf
            -param robot_description
            -model husky
            -robot_namespace /"/>
    </group>
</launch>
